.header{
    width: 100%;
    height: 60px;
    background-color: #89A95E;
    display: flex;
    justify-content: space-evenly;
}


.logo>img{
    height: 100%;
}
.navBar>ul>li a{
    font-size: 20px;
    padding: 5px 10px;
    background: rgba(0,0,0,20%);
    margin: 2px 20px;
    color: #ffff;
    border-radius: 5px;
}
.navBar>ul>li{
    float: left;
    list-style-type: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #fff;
}
.donateButton>button{
    font-size: 20px;
    padding: 5px 25px;
    background: #008BDA;
    border-radius: 40px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
